.hljs() {
  /* 4K */
  @media (orientation: landscape) and (max-width: 3840px) {
    max-width: 3072px;
  }

  @media (orientation: portrait) and (max-width: 2160px) {
    max-width: 1728px;
  }

  /* WQHD */
  @media (orientation: landscape) and (max-width: 2560px) {
    max-width: 2048px;
  }

  @media (orientation: portrait) and (max-width: 1440px) {
    max-width: 1152px;
  }

  /* Desktop or Laptop (Full HD) */
  @media (orientation: landscape) and (max-width: 1920px) {
    max-width: 1536px;
  }

  @media (orientation: portrait) and (max-width: 1080px) {
    max-width: 864px;
  }

  /* iPad (up to 12 inchs) */
  @media (orientation: landscape) and (max-width: 1366px) {
    max-width: 1092px;
  }

  @media (orientation: portrait) and (max-width: 1024px) {
    max-width: 819px;
  }

  /* iPhone (up to X) */
  @media (orientation: landscape) and (max-width: 812px) {
    max-width: 649px;
  }

  @media (orientation: portrait) and (max-width: 375px) {
    max-width: 300px;
  }

  /* Android (based on Pixel XL) */
  @media (orientation: landscape) and (max-width: 640px) {
    max-width: 512px;
  }

  @media (orientation: portrait) and (max-width: 360px) {
    max-width: 288px;
  }
}

#grids {
  #main {
    main {
      #report {
        padding: 1em;
        font-family: serif;

        strong {
          font-weight: bold;
        }

        em {
          font-style: italic;
        }

        .footnotes {
          word-break: break-word;
        }

        .hljs {
          .hljs();
        }
      }
    }
  }
}
